version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    rebase-strategy: 'disabled' # while we have chromatic usage issues
    open-pull-requests-limit: 10 # while we have chromatic usage issues
    schedule:
      interval: monthly # while we have chromatic usage issues
  - package-ecosystem: github-actions
    directory: '/'
    rebase-strategy: 'disabled' # while we have chromatic usage issues
    open-pull-requests-limit: 10 # while we have chromatic usage issues
    schedule:
      interval: daily
