{
  "presets": [
    ["@babel/env", {
        "loose": true,
        "modules": "commonjs"
      }],
    "@babel/react",
    "@babel/stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["transform-react-remove-prop-types", { "mode": "wrap" }],
    [
      "@babel/transform-runtime",
      { "helpers": false, "polyfill": false, "regenerator": true }
    ],
    "add-module-exports"
  ],
  "ignore": [".spec.js", ".test.js", "-test.js", "/__tests__/"]
}
