{
  "parser": "babel-eslint",
  "extends": ["airbnb", "sonar", "plugin:flowtype/recommended"],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "es6": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "jsx-a11y/label-has-for": 0,
    "filenames/match-exported": 0
  },
  "overrides": [
    {
      "files": [ "stories.js", "test.js", "scripts/**", "src/stories/**" ],
      "rules": {
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
      }
    },
    {
      "files": [ "test.js" ],
      "env": {
        "jest": true,
        "enzyme": true,
        "browser": true
      }
    }
  ]
}
