name: CI
on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
jobs:
  build-lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Read .nvmrc
        run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
        id: nvm

      - name: Use Node.js
        uses: actions/setup-node@v2.1.5
        with:
          node-version: "${{ steps.nvm.outputs.NVMRC }}"

      - run: yarn
      - run: npm install -g codecov
      - run: yarn build:sync
      - run: yarn docs
      - run: yarn test
      - run: codecov
      - run: yarn build:dist # the dist build is only used to track bundle size delta
      - run: yarn bundlesize
  
  automerge:
    needs: build-lint-test
    runs-on: ubuntu-latest
    steps:
      - uses: fastify/github-action-merge-dependabot@v2.1.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

