name: Cypress
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      
      - name: Read .nvmrc
        run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
        id: nvm

      - name: Use Node.js
        uses: actions/setup-node@v3.8.1
        with:
          node-version: "${{ steps.nvm.outputs.NVMRC }}"

      - run: yarn
      - uses: cypress-io/github-action@v6
        with:
          install: false
          command: yarn test:cypress