name: Publish Release
on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Read .nvmrc
      run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
      id: nvm

    - name: Use Node.js
      uses: actions/setup-node@v4.0.4
      with:
        node-version: "${{ steps.nvm.outputs.NVMRC }}"
        registry-url: 'https://registry.npmjs.org'

    - run: yarn
    - run: yarn build
    
    - run: yarn workspaces foreach --all --exclude @govuk-react/monorepo pack --out %s-%v.tgz
    - run: mkdir releases
    - run: mv {components,packages}/*/@govuk-react-*.tgz ./releases
    - run: echo PACKAGE_VERSION=$(node -e 'console.log(require("./packages/govuk-react/package.json").version)') >> $GITHUB_ENV
    
    - name: GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        files: "releases/@govuk-react-*-${{ env.PACKAGE_VERSION }}.tgz"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - run: yarn workspaces foreach --all --exclude @govuk-react/monorepo exec "$GITHUB_WORKSPACE/scripts/npmPublish.sh"
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
